@if (Clients.Count > 0)
{
    <table class="table table-head-fixed table-hover text-nowrap table-bordered table-clientlist">
        <thead style="font-size: 13px; !important;">
            <tr>
                <th>Client No.</th>
                <th>Name</th>
                <th>Client Type</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Mobile Number</th>
                <th>Industry</th>
                <th>Status</th>
                <th>Account Manager</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px; !important;">
            @foreach (var client in Clients)
            {
                <tr>
                    <td class="align-middle">@client.ClientNumber</td>
                    <td class="align-middle">@client.ClientName</td>
                    <td class="align-middle">@client.ClientType.ClientTypeName</td>
                    <td class="align-middle">@client.Email</td>
                    <td class="align-middle">@client.PhoneNumber</td>
                    <td class="align-middle">@client.MobileNumber</td>
                    <td class="align-middle">@client.Industry.IndustryName</td>
                    <td class="align-middle">@client.Status.Status</td>
                    <td class="align-middle">@client.AccountManager.ContactPerson</td>
                    <td class="align-middle">
                        <a href="updateclient/@client.Id" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                        </a>
                        <!-- <button type="button" class="btn btn-info" @onclick="() => RedirectToUpdate(client.Id)">Update</button>-->
                    </td>
                    <td class="align-middle">
                        <a href="#" class="nav-link" @onclick="() => Delete(client.Id)">
                            <i class="nav-icon fas fa-trash"></i>
                        </a>
                        <!-- <button type="button" class="btn btn-danger" @onclick="() => Delete(client.Id)">Delete</button>-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

