@page "/addipmatter/{casefolderid:int}"

@using LEXEnprise.Blazor.Shared.Components
@using LEXEnprise.Blazor.Matters.Components
@using LEXEnprise.Blazor.Matters.Validations

@attribute [Authorize(Roles = "MISStaff, Paralegal, Lawyer")]

<PageHeader PageTitle=@PageTitle />
<MainContent>
    <div class="row">
        <EditForm Model="_caseFolderData" style="width: 100%;">
            <CaseFolderInfo CaseFolderDataHolder="_caseFolderData" />
        </EditForm>
    </div>
    <div class="row">
        <EditForm Model="_addIPMatterModel" style="width: 100%;" OnValidSubmit="OnSubmitIPMatter" OnInvalidSubmit="OnInvalidIPMatterSubmit">
            <div class="card">
                <div class="card-body">
                    <DataAnnotationsValidator />
                    <MattersCustomValidation @ref="_customValidation" />
                    <ValidationSummary />
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Basic Matter Information</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="clientReference">Client Reference</label>
                                        <InputText @bind-Value="_addIPMatterModel.ClientReference" class="form-control" placeholder="Client Reference" />
                                        <ValidationMessage For="@(() => _addIPMatterModel.ClientReference)" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="accountOfficer">Full Name</label>
                                        <InputText @bind-Value="_addIPMatterModel.DocketNumber" class="form-control" placeholder="Docket Number" />
                                        <ValidationMessage For="@(() => _addIPMatterModel.DocketNumber)" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="subjectMatter">Subject Matter</label>
                                    <InputTextArea @bind-Value="_addIPMatterModel.SubjectMatter" class="form-control" rows="2" placeholder="Subject Matter - (100 Characters limit.)" />
                                    <ValidationMessage For="@(() => _addIPMatterModel.SubjectMatter)" />
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fileNumber">File Number</label>
                                        <InputText @bind-Value="_addIPMatterModel.FileNumber" class="form-control" placeholder="File Number" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fileDate">Filling Date</label>
                                        <InputDate @bind-Value="_addIPMatterModel.FileDate" class="form-control" placeholder="Filling Date"
                                                   ParsingErrorMessage="The {0} has an incorrect date format." />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="paralegal">Paralegal</label>
                                        <InputSelect id="selectParalegal" @bind-Value="_addIPMatterModel.ParalegalId" class="form-control" placeholder="Paralegal">
                                            <option value="0">Select</option>
                                            @foreach (var paraLegal in Paralegals)
                                            {
                                                <option value="@paraLegal.Id">@paraLegal.Fullname</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="caseType">Case Type</label>
                                        <select id="selectCaseType" value="@_addIPMatterModel.CaseTypeId" @onchange="OnChangeCaseType" class="form-control" placeholder="Case Type">
                                            <option value="0">Select</option>
                                            @foreach (var caseType in CaseTypes)
                                            {
                                                <option value="@caseType.Id">@caseType.Type</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="stage">Stage</label>
                                        <InputSelect id="@_selectStageId" @bind-Value="_addIPMatterModel.MatterStageId" class="form-control" placeholder="Stage">
                                            <option value="0">Select</option>
                                            @foreach (var stage in MatterStages)
                                            {
                                                <option value="@stage.Id">@stage.StageDesciption</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="stageAsOfDate">Stage As Of Date</label>
                                        <InputDate @bind-Value="_addIPMatterModel.StageAsOfDate" class="form-control" placeholder="Stage As Of Date"
                                                   ParsingErrorMessage="The {0} has an incorrect date format." />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <div class="card-tools" style="margin-right: 5px !important; float: left;">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-append">
                                        <a href="" class="btn btn-default" @onclick="() => ShowHandlingLawyersLookup()" @onclick:preventDefault>
                                            <i class="fas fa-plus-square"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3 class="card-title" style="padding-top: 5px; padding-left: 15px;">
                                Handling Lawyer/s
                            </h3>
                        </div>
                        <div class="card-body">

                            <table class="table table-head-fixed table-hover text-nowrap table-bordered">
                                <thead style="font-size: 13px !important;">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email Address</th>
                                    </tr>
                                </thead>
                                <tbody @ref="_handlingLawyersRowRef" style="font-size: 12px !important;">
                                    @if (_addIPMatterModel.HandlingLawyers != null && _addIPMatterModel.HandlingLawyers.Count > 0)
                                    {
                                        foreach (var lawyer in _addIPMatterModel.HandlingLawyers)
                                        {
                                            <tr>
                                                <td class="align-middle">@lawyer.HandlingLawyer.Fullname</td>
                                                <td class="align-middle">@lawyer.HandlingLawyer.EmailAddress</td>
                                            </tr>
                                        }
                                    }
                                    @*else
                                    {
                                        <tr>
                                            <td class="align-middle">Lawyer 1</td>
                                            <td class="align-middle">lawyer1@gmail.com</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Lawyer 2</td>
                                            <td class="align-middle">lawyer2@gmail.com</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Lawyer 3</td>
                                            <td class="align-middle">lawyer3@gmail.com</td>
                                        </tr>
                                    }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">IP Matter Information</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="applicant">Applicant</label>
                                        <div class="input-group">
                                            <InputText @bind-Value="_addIPMatterModel.ApplicantName" class="form-control" placeholder="Applicant" disabled />
                                            <span class="input-group-append">
                                                <button type="button" @onclick="ShowApplicantsLookup" class="btn btn-default">
                                                    <i class="fa fa-filter"></i>
                                                </button>
                                            </span>
                                            <ValidationMessage For="@(() => _addIPMatterModel.ApplicantName)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="applicationType">Application Type</label>
                                        <InputSelect @bind-Value="_addIPMatterModel.ApplicationTypeId" class="form-control" placeholder="Application Type">
                                            <option value="0">Select</option>
                                            @foreach (var type in ApplicationTypes)
                                            {
                                                <option value="@type.Id">@type.Type</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="applicationNumber">Application Number</label>
                                        <InputText @bind-Value="_addIPMatterModel.ApplicationNumber" class="form-control" placeholder="Application Number" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="applicationDate">Application Date</label>
                                                <InputDate @bind-Value="_addIPMatterModel.ApplicationDate" class="form-control" placeholder="Application Date"
                                                           ParsingErrorMessage="The {0} has an incorrect date format." />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="publicationDate">Publication Date</label>
                                                <InputDate @bind-Value="_addIPMatterModel.PublicationDate" class="form-control" placeholder="Publication Date"
                                                           ParsingErrorMessage="The {0} has an incorrect date format." />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="certificateNumber">Certificate Number</label>
                                        <InputText @bind-Value="_addIPMatterModel.CertificateNumber" class="form-control" placeholder="Certificate Number" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="certificateDate">Certificate Date</label>
                                        <InputDate @bind-Value="_addIPMatterModel.CertificateDate" class="form-control" placeholder="Certificate Date"
                                                   ParsingErrorMessage="The {0} has an incorrect date format." />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pctApplicationNumber">PCTApplication Number</label>
                                        <InputText @bind-Value="_addIPMatterModel.PCTApplicationNumber" class="form-control" placeholder="PCTApplication Number" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pctApplicationDate">PCTApplication Date</label>
                                        <InputDate @bind-Value="_addIPMatterModel.PCTApplicationDate" class="form-control" placeholder="PCTApplication Date"
                                                   ParsingErrorMessage="The {0} has an incorrect date format." />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pctLanguageNumber">PCTLanguage Number</label>
                                        <InputText @bind-Value="_addIPMatterModel.PCTLanguageNumber" class="form-control" placeholder="PCTApplication Number" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pctLanguageDate">PCTLanguage Date</label>
                                        <InputDate @bind-Value="_addIPMatterModel.PCTLanguageDate" class="form-control" placeholder="PCTLanguage Date"
                                                   ParsingErrorMessage="The {0} has an incorrect date format." />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pctPublicationNumber">PCTPublication Number</label>
                                        <InputText @bind-Value="_addIPMatterModel.PCTPublicationNumber" class="form-control" placeholder="PCTPublication Number" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pctPublicationDate">PCTPublication Date</label>
                                        <InputDate @bind-Value="_addIPMatterModel.PCTPublicationDate" class="form-control" placeholder="PCTPublication Date"
                                                   ParsingErrorMessage="The {0} has an incorrect date format." />
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="priorityNumber">Priority Number</label>
                                            <InputText @bind-Value="_addIPMatterModel.PriorityNumber" class="form-control" placeholder="Priority Number" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="priorityDate">Priority Date</label>
                                            <InputDate @bind-Value="_addIPMatterModel.PriorityDate" class="form-control" placeholder="Priority Date"
                                                       ParsingErrorMessage="The {0} has an incorrect date format." />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="priorityCountryFiling">Country Filing</label>
                                            <InputSelect @bind-Value="_addIPMatterModel.PriorityCountryFilingId" class="form-control" placeholder="Country Filing">
                                                <option value="0">Select</option>
                                                @foreach (var country in Countries)
                                                {
                                                    <option value="@country.Id">@country.CountryName</option>
                                                }
                                            </InputSelect>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="dateWithdrawn">Date Withdrawn</label>
                                            <InputDate @bind-Value="_addIPMatterModel.DateWithdrawn" class="form-control" placeholder="Date Withdrawn"
                                                       ParsingErrorMessage="The {0} has an incorrect date format." />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="renewalDau">Renewal Dau</label>
                                            <InputDate @bind-Value="_addIPMatterModel.RenewalDau" class="form-control" placeholder="Renewal Dau"
                                                       ParsingErrorMessage="The {0} has an incorrect date format." />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="reasonOfWithdrawn">Reason Of Withdrawn</label>
                                            <InputTextArea @bind-Value="_addIPMatterModel.ReasonOfWithdrawn" class="form-control" rows="3" placeholder="Reason Of Withdrawn - (100 Characters limit.)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right" style="margin-left: 5px;">Save</button>
                        <button type="submit" class="btn btn-default float-right" @onclick="Cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</MainContent>
