@page "/updateclient/{clientid:int}"
@using LEXEnprise.Blazor.Shared.Components
@using LEXEnprise.Blazor.Clients.Validations

@attribute [Authorize(Roles = "MISStaff, Paralegal, Lawyer")]

<PageHeader PageTitle=@PageTitle />
<MainContent>
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="_updateClientModel" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidClientSubmit">
                <div class="card">
                    <div class="card-body">
                        <DataAnnotationsValidator />
                        <AddClientCustomValidation @ref="_updateClientValidation" />
                        <ValidationSummary />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Basic Information</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="clientNumber">Client Number</label>
                                            <InputText @bind-Value="_updateClientModel.ClientNumber" class="form-control" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="clientName">Client Name</label>
                                            <InputText id="@_clientNameId" @bind-Value="_updateClientModel.ClientName" class="form-control" placeholder="Client Name" />
                                            <ValidationMessage For="@(() => _updateClientModel.ClientName)" />
                                        </div>
                                        <div class="form-group">
                                            <label for="clientType">Client Type</label>
                                            <InputSelect @bind-Value="_updateClientModel.ClientTypeId" class="form-control" placeholder="Client Type">
                                                <option value="0">Select</option>

                                                @foreach (var clientType in ClientTypes)
                                                {
                                                    <option value="@clientType.Id">@clientType.ClientTypeName</option>
                                                }
                                            </InputSelect>
                                        </div>
                                        <div class="form-group">
                                            <label for="industry">Industry</label>
                                            <InputSelect @bind-Value="_updateClientModel.ClientIndustryId" class="form-control" placeholder="Industry">
                                                <option value="0">Select</option>
                                                @foreach (var industry in Industries)
                                                {
                                                    <option value="@industry.Id">@industry.IndustryName</option>
                                                }
                                            </InputSelect>
                                        </div>
                                        <div class="form-group">
                                            <label for="clientStatus">Status</label>
                                            <InputText id="@_clientNameId" @bind-Value="_updateClientModel.Status.Status" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Contact Information</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="email">Email Address</label>
                                            <InputText @bind-Value="_updateClientModel.Email" class="form-control" placeholder="Email Address" />
                                            <ValidationMessage For="@(() => _updateClientModel.Email)" />
                                        </div>
                                        <div class="form-group">
                                            <label for="phoneNumber">Phone Number</label>
                                            <InputText @bind-Value="_updateClientModel.PhoneNumber" class="form-control" placeholder="Phone Number" />
                                            <ValidationMessage For="@(() => _updateClientModel.PhoneNumber)" />
                                        </div>
                                        <div class="form-group">
                                            <label for="mobileNumber">Mobile Number</label>
                                            <InputText @bind-Value="_updateClientModel.MobileNumber" class="form-control" placeholder="Mobile Number" />
                                            <ValidationMessage For="@(() => _updateClientModel.MobileNumber)" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Address Information</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="address1">Address 1</label>
                                            <InputText @bind-Value="_updateClientModel.Address1" class="form-control" placeholder="Address 1" />
                                            <ValidationMessage For="@(() => _updateClientModel.Address1)" />
                                        </div>
                                        <div class="form-group">
                                            <label for="address2">Address 2</label>
                                            <InputText @bind-Value="_updateClientModel.Address2" class="form-control" placeholder="Address 2" />
                                            <ValidationMessage For="@(() => _updateClientModel.Address2)" />
                                        </div>
                                        <div class="form-group">
                                            <label for="country">Country</label>
                                            <select value="@_updateClientModel.CountryId" @onchange="OnChangeCountry" class="form-control" placeholder="Country">
                                                <option value="0">Select</option>
                                                @foreach (var country in Countries)
                                                {
                                                    <option value="@country.Id">@country.CountryName</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="state">State/Province</label>
                                            <select id="@_selectStatesId" value="@_updateClientModel.StateId" @onchange="OnChangeState" class="form-control" placeholder="State/Province">
                                                <option value="0">Select</option>
                                                @foreach (var state in States)
                                                {
                                                    <option value="@state.Id">@state.StateName</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <InputSelect id="@_selectCitiesId" @bind-Value="_updateClientModel.CityId" class="form-control" placeholder="City">
                                                <option value="0">Select</option>
                                                @foreach (var city in Cities)
                                                {
                                                    <option value="@city.Id">@city.CityName</option>
                                                }
                                            </InputSelect>
                                        </div>
                                        <div class="form-group">
                                            <label for="zipCode">ZipCode</label>
                                            <InputText @bind-Value="_updateClientModel.ZipCode" class="form-control" placeholder="ZipCode" />
                                            <ValidationMessage For="@(() => _updateClientModel.ZipCode)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Other Information</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="website">Web-Site</label>
                                            <InputText @bind-Value="_updateClientModel.Website" class="form-control" placeholder="Web-Site" />
                                            <ValidationMessage For="@(() => _updateClientModel.Website)" />
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Date Acquired</label>
                                                    <InputDate @bind-Value="_updateClientModel.DateAcquired" class="form-control" placeholder="Date Acquired" />
                                                    <ValidationMessage For="@(() => _updateClientModel.DateAcquired)" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="category">Category</label>
                                                    <InputSelect @bind-Value="_updateClientModel.ClientCategoryId" class="form-control" placeholder="Category">
                                                        <option value="0">Select</option>
                                                        @foreach (var category in Categories)
                                                        {
                                                            <option value="@category.Id">@category.Category</option>
                                                        }
                                                    </InputSelect>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="billingCurrency">Billing Currency</label>
                                                    <InputSelect @bind-Value="_updateClientModel.BillingCurrencyId" class="form-control" placeholder="Billing Currency">
                                                        <option value="0">Select</option>
                                                        @foreach (var currency in Currencies)
                                                        {
                                                            <option value="@currency.Id">@currency.CurrencyCode</option>
                                                        }
                                                    </InputSelect>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="remarks">Remarks</label>
                                            <InputTextArea @bind-Value="_updateClientModel.Remarks" class="form-control" rows="10" placeholder="Remarks - (1000 Characters limit.)" />
                                            <ValidationMessage For="@(() => _updateClientModel.Remarks)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-success">
                                    <div class="card-header">
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <div class="card-tools" style="margin-right: 5px !important; float: left;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-append">
                                                    <a href="" class="btn btn-default" @onclick="() => ShowAddContactModal()" @onclick:preventDefault>
                                                        <i class="fas fa-plus-square"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="card-title" style="padding-top: 5px; padding-left: 15px;">
                                            Contacts
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-head-fixed table-hover text-nowrap table-bordered">
                                            <thead style="font-size: 13px !important;">
                                                <tr>
                                                    <th>ContactPerson</th>
                                                    <th>Email Address</th>
                                                    <th>Phone Number</th>
                                                    <th>Mobile Number</th>
                                                    <th>Position</th>
                                                    <th>Is Main Officer?</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody @ref="_clientContactsRowRef" style="font-size: 12px !important;">
                                                @if (_updateClientModel.Contacts.Count > 0)
                                                {
                                                    foreach (var contact in _updateClientModel.Contacts)
                                                    {
                                                <tr>
                                                    <td class="align-middle">@contact.ContactPerson</td>
                                                    <td class="align-middle">@contact.Email</td>
                                                    <td class="align-middle">@contact.PhoneNumber</td>
                                                    <td class="align-middle">@contact.Mobile</td>
                                                    <td class="align-middle">@contact.Position</td>
                                                    @if (@contact.IsMainAccountOfficer == true)
                                                    {
                                                        <td class="align-middle">Yes</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="align-middle">No</td>
                                                    }
                                                    <td class="align-middle">
                                                        <a href="#" class="nav-link" @onclick="() => ShowUpdateContactModal(contact)" @onclick:preventDefault>
                                                            <i class="nav-icon fas fa-edit"></i>
                                                        </a>
                                                    </td>
                                                    <td class="align-middle">
                                                        <a href="#" class="nav-link" @onclick="() => DeleteContact(contact.Email)" @onclick:preventDefault>
                                                            <i class="nav-icon fas fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right" style="margin-left: 5px;">Submit</button>
                        <button type="submit" class="btn btn-default float-right" @onclick="Cancel">Cancel</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</MainContent>